Django>=4.0,<4.1
wagtail>=4.0,<4.1
django-widget-tweaks
django-environ==0.4.5
django-oscar>=3.2,<3.3
git+https://github.com/mfatgg/django-oscar-promotions@upgrade#egg=django-oscar-promotions
sorl-thumbnail>=12.7.0
pycountry
